/* General styles for the body */
/* Default state */
body {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Fade and optional movement */
}

/* Fade-out effect when navigating away */
body.fade-out {
    opacity: 0;
    transform: scale(0.95); /* Optional: Add a scale-down effect */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-bar a:hover {
    color: #da506adf; /* Change to your preferred hover color */
}

body.projects .nav-bar a:hover {
    color: #d64f68df; /* Change to your preferred hover color */
}

/* Reset styling for the nav bar */
.nav-bar {
    z-index: 1000; /* A higher z-index than the #about-container */
    list-style: none; /* Remove bullets */
    padding: 0;       /* Remove padding */
    margin: 0;        /* Remove margin */
    position: fixed;
    top: 100px; /* 10px from the top of the page */
    right:100px;  /* Aligns it to the right side */
}

/* Styling for each nav item */
.nav-bar li {
    margin: 1.5rem; /* Space between items */
}

/* Link styling */
.nav-bar a {

    font-family: "Cutive Mono", serif;
    font-style: normal;
    color: #ffffffab;
    text-decoration: none; /* Remove underline */
    font-size: 16px;     /* Adjust font size */
    display: inline-block; /* Allows padding around the link */
    padding: 0.5rem 1rem;  /* Add padding for clickable area */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */

/* Active page styling */
.nav-bar .active a {
    color: #ffffffdf; /* Change to your preferred active color */
    /* Optional: make the active link bold */
}


/* Active styling projects page */
body.projects .nav-bar a {
    color:  #ffffffdf; /* Change the general text color */
}

body.projects .nav-bar .active a {
    color: #da506adf;
}



html, body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    height: 100%;
}


/* Styling for the header on home page */
#home-page header {
    position: fixed;
    bottom: 150px; /* 10px from the top of the page */
    left: 150px;  /* Aligns it to the right side */
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: right;
}

/* Styling for the header on about page */
#about header {
    position: fixed;
    bottom: 450px; /* 10px from the top of the page */
    left: 150px;  /* Aligns it to the right side */
    font-family: 'Archivo', sans-serif;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: right;
}

.header-text p {
    margin: 1rem 0; /* Space between items */
}

/* Styling for the main content */

#about-container {
    z-index: 1; /* Lower than navbar to ensure navbar is clickable */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    position: relative; /* Ensure proper positioning of child elements */
  }
  
  #about-text {
    max-width: 800px; /* Limit text width */
    width: 100%; /* Make it responsive */
    background: #15272f22;
    font-family: "Courier", serif; /* Use your chosen font */
    color: rgba(255, 255, 255, 0.704); /* Semi-transparent white text */
    text-align: justify; /* Align text for clean edges */
    font-size: 14px; /* Set font size */
    line-height: 2; /* Improve readability */
    letter-spacing: 5px; /* Slight spacing */
  }



#home-page {
    font-family: 'Archivo', sans-serif;
    background-image: url('../img/FULL.jpg');
    margin: 0; /* Remove any default margins around the body */
    padding: 0; /* Remove padding */
    height: 100vh; /* Make sure the body fills the entire viewport height */
    background-size: cover;      /* Ensures the image covers the whole screen */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}

#projects {
    font-family: 'Archivo', sans-serif;
    margin: 0; /* Remove any default margins around the body */
    padding: 0; /* Remove padding */
    height: 100vh; /* Make sure the body fills the entire viewport height */
    background-size: cover;      /* Ensures the image covers the whole screen */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}


#about {
    font-family: 'Archivo', sans-serif;
    background-image: url('../img/ABOUT_1.jpg');
    margin: 0; /* Remove any default margins around the body */
    padding: 0; /* Remove padding */
    height: 100vh; /* Make sure the body fills the entire viewport height */
    background-size: cover;      /* Ensures the image covers the whole screen */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}
#cv {
    font-family: 'Archivo', sans-serif;
    background-image: url('../img/FULL.jpg');
    margin: 0; /* Remove any default margins around the body */
    padding: 0; /* Remove padding */
    height: 100vh; /* Make sure the body fills the entire viewport height */
    background-size: cover;      /* Ensures the image covers the whole screen */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}


#cv-container {
    z-index: 1; /* Lower than navbar to ensure navbar is clickable */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    position: relative; /* Ensure proper positioning of child elements */
  }


#contact {
    max-width: 800px; /* Limit text width */
    width: 100%; /* Make it responsive */
    font-family: "Courier", serif; /* Use your chosen font */
    color: rgba(255, 255, 255, 0.704); /* Semi-transparent white text */
    text-align: center; /* Align text for clean edges */
    font-size: 14px; /* Set font size */
    line-height: 2; /* Improve readability */
    letter-spacing: 5px; /* Slight spacing */
}

#projects-list {
    max-width: 800px; /* Limit text width */
    width: 100%; /* Make it responsive */
    font-family: "Courier", serif; /* Use your chosen font */
    color: rgba(190, 92, 92, 0.704); /* Semi-transparent white text */
    text-align: center; /* Align text for clean edges */
    font-size: 14px; /* Set font size */
    line-height: 2; /* Improve readability */
    letter-spacing: 5px; /* Slight spacing */
}

/* Styling for the footer */
footer a {
    text-decoration: none; /* Remove underline */
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
   
}

.footer {
    position: fixed; /* Ensures the footer stays in the same spot even when scrolling */
    bottom: 0; /* Aligns it to the bottom */
    right: 0; /* Aligns it to the right */
    padding: 0px; /* Adds spacing */
    font-size: 14px; /* Optional: Font size */
  }